<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>StoreTour</servlet-name>
		<servlet-class>edu.cmu.tourout.StoreTourServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>GetTours</servlet-name>
	    <servlet-class>edu.cmu.tourout.GetToursServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>FinishTour</servlet-name>
        <servlet-class>edu.cmu.tourout.FinishTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterTour</servlet-name>
        <servlet-class>edu.cmu.tourout.RegisterTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyTours</servlet-name>
        <servlet-class>edu.cmu.tourout.MyToursServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>MyProvidedTours</servlet-name>
        <servlet-class>edu.cmu.tourout.MyProvidedToursServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTourDetail</servlet-name>
        <servlet-class>edu.cmu.tourout.GetTourDetailServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>GetToursByCompany</servlet-name>
        <servlet-class>edu.cmu.tourout.GetToursByCompanyServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>StoreTour</servlet-name>
		<url-pattern>/storeTour</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>GetTours</servlet-name>
	    <url-pattern>/getTours</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>FinishTour</servlet-name>
        <url-pattern>/finishTour</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>RegisterTour</servlet-name>
        <url-pattern>/registerTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyTours</servlet-name>
        <url-pattern>/myTours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProvidedTours</servlet-name>
        <url-pattern>/myProvidedTours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
	    <servlet-name>GetTourDetail</servlet-name>
	    <url-pattern>/getTourDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>GetToursByCompany</servlet-name>
	    <url-pattern>/getToursByCompany</url-pattern>
	</servlet-mapping>
</web-app>
